
  ::-moz-selection {
    background: #000;
    color: #fff; }
  
  ::selection {
    background: #000; }
  
  ::-moz-selection {
    background: #000;
    color: #fff; }

  a {
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    color: #ff8201; }
    a:hover, a:focus, a:active {
      color: #ff8201;
      text-decoration: none; }
  
  .parent-nav-link-padding, .site-navbar .navbar-nav > li > a {
    padding: 15px 20px !important; }
  
  .site-navbar {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    margin-bottom: 0px;
    background: none;
    width: 100%;
    z-index: 200;
    background: #fff; }
    .site-navbar .navbar-brand {
      display: inline-block;
      border: 2px solid #fff;
      padding: 5px 20px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: .2em; }
      .site-navbar .navbar-brand:hover {
        color: #fff; }
    .site-navbar.bg-light {
      background: #ff8201  !important; }
      @media (max-width: 991.98px) {
        .site-navbar.bg-light {
          background: #ff8201  !important;
          top: 0; }
          .site-navbar.bg-light .navbar-brand {
            display: inline-block;
            font-size: 18px;
            border: 2px solid #fff;
            padding: 2px 10px !important;
            color: #fff; } }
    .site-navbar .navbar-nav > li > a {
      color: #fff !important;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: .1em;
      position: relative;
      text-transform: uppercase;
      letter-spacing: .2em; }
      @media (max-width: 991.98px) {
        .site-navbar .navbar-nav > li > a {
          color: #fff !important; } }
    .site-navbar .navbar-nav.active > a {
      color: #ff8201 !important; }
    .site-navbar.scrolled {
      background: #fff;
      -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.09);
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.09);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%); }
      .site-navbar.scrolled.bg-light {
        background: #ff8201 !important; }
      .site-navbar.scrolled .navbar-brand {
        display: inline-block;
        font-size: 18px;
        border: 2px solid #fff;
        padding: 2px 10px !important; }
      .site-navbar.scrolled.awake, .site-navbar.scrolled.sleep {
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .site-navbar.scrolled.awake {
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        background: #fff !important; }
      .site-navbar.scrolled.sleep {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
        background: #fff !important; }
      .site-navbar.scrolled .navbar-brand {
        color: #fff; }
      .site-navbar.scrolled .dropdown > a:before {
        color: #Fff }
      .site-navbar.scrolled .navbar-nav > li > a {
        color: #Fff !important; }
        .site-navbar.scrolled .navbar-nav > li > a:hover {
          color: #fff !important; }
        .site-navbar.scrolled .navbar-nav > li > a.active {
          color: #fff!important; }
      .site-navbar.scrolled .navbar-nav > li.active > a {
        color: #fff!important; }
  







        footer{
        
            bottom: 0;
        }
        .footer-distributed{
            background-color: #292c2f;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
            box-sizing: border-box;
            width: 100%;
            text-align: left;
            font: bold 16px sans-serif;
         
            padding: 20px 20px;
            margin-top: 80px;
        }
         
        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right{
            display: inline-block;
            vertical-align: top;
        }
         
        .footer-distributed .footer-left{
            width: 40%;
        }
         
        .footer-distributed h3{
            color:  #ffffff;
            font: normal 36px 'Cookie', cursive;
            margin: 0;
        }
         
        .footer-distributed h3 span{
            color:  #5383d3;
        }
         
         
        .footer-distributed .footer-links{
            color:  #ffffff;
            margin: 20px 0 12px;
            padding: 0;
        }
         
        .footer-distributed .footer-links a{
            display:inline-block;
            line-height: 1.8;
            text-decoration: none;
            color:  inherit;
        }
         
        .footer-distributed .footer-company-name{
            color:  #8f9296;
            font-size: 14px;
            font-weight: normal;
            margin: 0;
        }
         
         
        .footer-distributed .footer-center{
            width: 35%;
        }
         
        .footer-distributed .footer-center i{
            background-color:  #33383b;
            color: #ffffff;
            font-size: 25px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            margin: 10px 15px;
            vertical-align: middle;
        }
         
        .footer-distributed .footer-center i.fa-envelope{
            font-size: 17px;
            line-height: 38px;
        }
         
        .footer-distributed .footer-center p{
            display: inline-block;
            color: #ffffff;
            vertical-align: middle;
            margin:0;
        }
         
        .footer-distributed .footer-center p span{
            display:block;
            font-weight: normal;
            font-size:14px;
            line-height:2;
        }
         
        .footer-distributed .footer-center p a{
            color:  #5383d3;
            text-decoration: none;;
        }
         
        .footer-distributed .footer-right{
            width: 20%;
        }
         
        .footer-distributed .footer-company-about{
            line-height: 20px;
            color:  #92999f;
            font-size: 13px;
            font-weight: normal;
            margin: 0;
        }
         
        .footer-distributed .footer-company-about span{
            display: block;
            color:  #ffffff;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 20px;
        }
         
        .footer-distributed .footer-icons{
            margin-top: 25px;
        }
         
        .footer-distributed .footer-icons a{
            display: inline-block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color:  #33383b;
            border-radius: 2px;
         
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;
         
            margin-right: 3px;
            margin-bottom: 5px;
        }
         
         
        @media (max-width: 880px) {
         
            .footer-distributed{
                font: bold 14px sans-serif;
            
            }
         
            .footer-distributed .footer-left,
            .footer-distributed .footer-center,
            .footer-distributed .footer-right{
                display: block;
                width: 100%;
                margin-bottom: 40px;
                text-align: center;
            }
         
            .footer-distributed .footer-center i{
                margin-left: 0;
            }
            .main {
                line-height: normal;
                font-size: auto;
            }
         
        }